# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\jeyki\OneDrive\01. SEMESTERS\2021 - Semestre I\Lenguajes y Compiladores\Lenguajes\02 - Progras\Progra 3 - DonCEy Kong\Client\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
