# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\carlo\OneDrive\Escritorio\2021_LENGUAJES_TAREA3_DonCEy_Kong_Jr\Logica_Java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
